@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rubik+Glitch+Pop&display=swap');

:root {
	--button-hover-blue: #007bff;

	--fc-text-blue: #2f8be0;
	--fc-text-orange: #e0501b;

	--fc-text-dark: #000;
	--fc-text-light: #777777;

	--fw-regular: 350;
	--fw-bold: 600;

	--fs-300: 0.925rem;
	--fs-500: 1.8rem;
	--fs-600: 1rem;
	--fs-650: 1.2rem;
	--fs-700: 1.8rem;
	--fs-750: 1.4rem;
	--fs-800: 2.8rem;
	--fs-900: 3rem;

	--fs-body: var(--fs-600);
	--fs-body-small: var(--fs-300);
	--fs-body-nav: var(--fs-600);
	--fs-primary-heading: var(--fs-900);
	--fs-primary-heading-alt: var(--fs-800);
	--fs-secondary-heading: var(--fs-700);
	--fs-secondary-heading-alt: var(--fs-750);
	--fs-nav: var(--fs-500);
	--fs-button: var(--fs-300);
}

body,
html {
	background-color: #fff;
	font-family: 'Inclusive Sans', serif;
	overflow-x: hidden;
	margin: 0rem;
	padding: 0rem;
	scroll-padding-top: 3rem;
	scroll-behavior: smooth;
}

* {
	text-decoration: none;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
}

.nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 4rem;
	background-color: #ffa07a;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1);
	/* border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; */
}

/* Logo CSS Start */
.nav .logo {
	display: flex;
}
.nav .logo img {
	width: 50px;
	height: 50px;
}

.nav .logo .logoName {
	/* color: #000; */
	color: hsl(0, 0%, 100%);
	font-size: 2rem;
	font-weight: 500;
	font-family: 'Rubik Glitch Pop', 'Protest Revolution', 'Fredoka', sans-serif;
	position: absolute;
	top: 1rem;
	left: 8.2rem;
}
/* sup {
	font-size: 50%;
	vertical-align: top;
} */
/* Logo CSS end */

.nav .navbar a {
	margin-right: 1.65rem;
	font-size: var(--fs-body-nav);
	font-weight: var(--fw-bold);
	color: var(--fc-text-dark);
}

.nav .navbar a:hover {
	color: var(--fc-text-blue);
}

.nav .navbar a.active {
	color: hsl(0, 0%, 100%);
}

.nav .button {
	margin-left: 4rem;
	display: inline-block;
	padding: 0.635rem 1.2rem;
	font-size: 1rem;
	color: var(--fc-text-dark);
	background: #fff;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	text-transform: capitalize;
	border: 1px solid #e4e6ea;
	font-family: 'Inclusive Sans', serif;
	border-radius: 5px;
}

.nav .button:hover {
	background-color: var(--button-hover-blue);
}

.nav .navbar .button:hover {
	color: #fff;
}

#menu-btn {
	font-size: 2.5rem;
	border-radius: 50px;
	background: #eee;
	padding: 1.2rem 1.2rem;
	cursor: pointer;
	display: none;
}

/*  ************************************************* */
/*  ************* Landing Section CSS *************** */
/*  ************************************************* */

.landing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5rem 4rem 2rem;
	height: 100vh;
}

.landingText {
	flex: 1;
}

.landingText h1 {
	font-size: var(--fs-primary-heading);
	margin: 0 /* !important */;
}

.landing span {
	color: var(--fc-text-blue);
	font-size: var(--fs-primary-heading);
}

.landingText p {
	font-size: var(--fs-body);
	line-height: 1.8rem;
	color: var(--fc-text-light);
	padding-right: 1.2rem;
}

.landingText .btn {
	width: 10rem;
	margin-top: 1.5rem;
	padding: 14px 20px 12px 20px;
	background-color: var(--button-hover-blue);
	border-radius: 45px;
	text-align: center;
}

.landingText .btn a {
	font-size: var(--fs-button);
	color: #fff;
}

.landingText .btn:hover {
	background-color: var(--fc-text-orange);
	transition: all ease-in-out 0.2s;
}

.landingImage {
	flex: 1;
}

.landingImage img {
	width: 100%;
}

/*  ************************************************* */
/*  ************** About Section CSS **************** */
/*  ************************************************* */

.about {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #f4f8fd;
	padding: 0rem 2rem;
}

.aboutText {
	position: relative;
	flex: 1;
}

.aboutText h2 {
	font-size: var(--fs-primary-heading-alt);
	position: relative;
	left: 2rem;
}

.aboutText span {
	color: var(--fc-text-blue);
	font-size: var(--fs-primary-heading);
}

/* Ammended img values width, height */
.aboutText img {
	width: 35rem;
	height: 28rem;
	margin-bottom: 4rem;
}

.aboutList {
	flex: 2;
}

ol {
	list-style: none;
	color: var(--fc-text-orange);
}

ol li {
	font-size: var(--fs-secondary-heading);
	position: relative;
	margin-bottom: 1.2rem;
	border-bottom: 1px solid #ebebeb;
}

li p {
	font-size: var(--fs-body);
	color: var(--fc-text-dark);
	padding-left: 3.7rem;
	line-height: 1.8rem;
	opacity: 0.6;
}

li span {
	position: absolute;
	line-height: 1.6rem;
	font-weight: var(--fw-bold);
}

/*  ************************************************* */
/*  ************* Services Section CSS ************** */
/*  ************************************************* */

.infoSection {
	padding-top: 1rem;
}

.infoHeader {
	text-align: center;
	margin-bottom: 3.8rem;
}

.infoHeader h2 {
	font-size: var(--fs-primary-heading-alt);
}
.infoSection .infoHeader span {
	color: var(--fc-text-blue);
	font-size: var(--fs-primary-heading);
}

.infoCards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
	grid-gap: 5rem;
	margin: 3.8rem;
}

.infoCards .card {
	height: 27rem;
	width: 22rem;
	background: #fff;
	box-shadow: 0 0 20px #1f67de;
}
.infoCards .card:hover {
	transform: translateY(-8px);
}

.infoCards h3 {
	font-size: var(--fs-secondary-heading-alt);
}
.infoCards i {
	font-size: 10rem;
	position: absolute;
	top: -50px;
	right: -50px;
}

.cardContent {
	position: absolute;
	top: 5rem;
	padding: 0 1rem 1rem;
}

.cardContent span {
	line-height: 30px;
	opacity: 0.5;
}
.cardContent p {
	line-height: 30px;
	opacity: 0.5;
}

/*  ************************************************* */
/*  *************** Maps Section CSS **************** */
/*  ************************************************* */

.google-map {
	padding-bottom: 30%;
	position: relative;
	margin-top: 2rem;
	margin-right: 4rem;
	margin-left: 4rem;
	margin-bottom: 4rem;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
	border: 2px solid #fff;
}

.google-map iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	border-radius: 6px;
}

/*  ************************************************* */
/*  ********** Banner and Contact Form CSS ********** */
/*  ************************************************* */

.banner {
	height: auto;
	/* height: 38rem; */
	background-color: #f3f3f3;
	/* background-color: var(--fc-text-blue); */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5rem 0 2.5rem 4rem;
	/* justify-content: space-around; */
	justify-content: center;
	align-items: center;
	text-align: center;
	align-items: center;
}

.bannerFollow h2 {
	font-size: var(--fs-secondary-heading);
	color: var(--fc-text-dark);
	font-weight: var(--fw-bold);
}

.bannerInnerText {
	font-size: var(--fs-secondary-heading-alt);
	font-weight: normal;
}

.contact-icons i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background: #fff;
	border: 2px solid #000;
	border-radius: 5px;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
	font-size: 2.5rem;
	text-decoration: none;
	margin: 1rem 1rem 1rem 0;
	transition: 0.5s ease;
	opacity: 0;
	animation: slideRight 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
/* @keyframes for slideRight: .logo */
@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
.contact-icons i:hover {
	background: var(--fc-text-orange);
	color: #fff;
	border: 2px solid #fff;
	box-shadow: 0 0 20px #e0501b;
}

.bannerInnerTextContact a {
	color: var(--fc-text-dark);
	font-size: var(--fs-body);
}

.bannerInnerTextContact a:hover {
	color: var(--button-hover-blue);
}

.bannerInnerTextContact i {
	color: #000;
	font-size: var(--fs-body);
	margin-right: 0.5rem;
}

.bannerInnerTextContact a:hover i {
	padding-right: 1.8rem;
	color: var(--button-hover-blue);
	transform: scale(1.01) translateX(5px);
	/* transition: all 0.3s ease-out; */
}

/*  ********** Contact Form CSS ********** */

.contact-form {
	flex-basis: 40%;
	text-align: center;
}

.contact-form form {
	position: relative;
}

.contact-form form input,
form textarea {
	border: none;
	outline: none;
	width: 80%;
	padding: 1rem;
	background: #fff;
	color: var(--fc-text-dark);
	font-size: var(--fs-body);
	font-weight: var(--fw-bold);
	margin-bottom: 0.5rem;
	border-radius: 5px;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.contact-form textarea {
	resize: none;
	height: 13rem;
	font-family: 'Inclusive Sans', serif;
}

.contact-form form .send {
	display: inline-block;
	/* width: 87%; */
	padding: 1.125rem;
	border-radius: 45px;
	font-size: var(--fs-body);
	color: #fff;
	background-color: var(--button-hover-blue);
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: 'Inclusive Sans', serif;
	font-weight: var(--fw-bold);
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: 2s;
}
/*  @keyframes for slideBottom: .home .home-content-intro   */
@keyframes slideBottom {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
.contact-form form .send:hover {
	background-color: var(--fc-text-orange);
	color: #fff;
}

/*  ************************************************* */
/*  ****************** Footer CSS ******************* */
/*  ************************************************* */

.footer {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

.footer h1 {
	font-size: var(--fs-secondary-heading);
}

.footer .footerLinks a {
	margin: 2.5rem;
	font-size: 1.2rem;
	font-weight: var(--fw-bold);
	color: var(--fc-text-dark);
	opacity: 0.4;
}

.footer a:hover {
	color: var(--fc-text-orange);
	opacity: 1;
}

/* Footer Copyright */
.copyrightFooter {
	margin-top: 2rem;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
	padding: 1rem 1rem 0;
}
#copyright {
	text-align: center;
	color: var(--fc-text-light);
	/* color: #212121; */
	font-size: 0.8rem;
	opacity: 0.86;
}

/*  ********************************************************* */
/*  ********************* Media Queries ********************* */
/*  ********************************************************* */
@media only screen and (max-width: 1180px) {
	#navbar-btn {
		display: none;
	}
	.landing {
		padding-top: 6rem;
		padding-bottom: 2rem;
		height: auto;
	}
}
/* ************************************************** */

@media only screen and (max-width: 880px) {
	#menu-btn {
		display: initial;
		font-size: 1rem;
	}

	.nav .navbar {
		position: absolute;
		top: 100%;
		left: 100%;
		/* right: 0; */
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 1.5rem 0rem 0rem 2rem;
		/* padding-top: 1rem; */
		/* border-radius: 0 0 0.6rem 0.6rem; */
		width: 100%;
		/* border: 0.2rem solid #a0a1a1; */
		border-top: 0.2rem solid #000;
		border-bottom: 0.2rem solid #000;
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
		background: #fff;
		/* transform: scale(0); */
		opacity: 0;
		/* transform-origin: top right; */
		transition: 0.3s ease-out;
	}
	.nav .navbar a.active {
		color: var(--button-hover-blue);
	}
	.nav .navbar.active {
		left: 0;
		/* transform: scale(1); */
		opacity: 1;
		transition: 0.3s ease-out;
	}
	.nav .navbar a {
		font-size: 1.2rem;
		display: block;
		margin-bottom: 1.5rem;
		padding: 0.8rem;
		border: 0.2rem solid #a0a1a1;
		border-radius: 0.6rem;
		box-shadow: 0.3rem 0.3rem 0.3rem rgba(35, 35, 37, 0.2);
		width: 55%;
		text-align: center;
	}
	/* nav CSS Start */
	.nav {
		padding-left: 2rem;
	}
	.logoName_extend {
		display: none;
	}
	.nav .logo .logoName {
		left: 6.1rem;
	}
	/* 	.nav .logo {
		display: flex;
	}
	.nav .logo img {
		width: 50px;
		height: 50px;
	}

	.nav .logo .logoName {
		position: absolute;
		top: 1.8rem;
		left: 5.5rem;
		font-size: 1.6rem;
		font-weight: var(--fw-bold);
	} */
	/* nav CSS end */

	/* Landing Responsive CSS */
	.landing {
		flex-direction: column-reverse;
		padding: 6rem 2rem 2rem;
	}

	/* Services Responsive CSS */
	.about {
		flex-direction: column;
		padding: 2rem 2rem;
	}
	.aboutList .aboutText {
		flex: 1;
	}

	.aboutText .about-header,
	.about-img {
		text-align: center;
		justify-self: center;
		align-self: center;
	}
	.aboutText img {
		width: auto;
		height: auto;
		margin-bottom: 2rem;
	}
	.infoSection {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.infoCards {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.infoCards .card {
		margin-bottom: 0.8rem;
	}
	/* maps media queries */
	.google-map {
		margin-top: -1.5rem;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-bottom: 4rem;
		height: 15rem;
	}
	/* Banner Responsive CSS */
	.banner {
		height: auto;
		flex-direction: column-reverse;
		padding: 4rem 1rem 1rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer .footerLinks a {
		font-size: var(--fs-body);
		margin: 1.5rem;
	}
}
@media (max-width: 525px) {
	.nav {
		padding: 1rem 1rem;
	}
	.nav .logo .logoName {
		left: 4.5rem;
	}

	.landing {
		padding: 6rem 1rem 2rem;
	}
	.about {
		padding: 1rem 1rem;
		margin: 0;
	}
	.aboutText h2 {
		left: 0rem;
	}
	.aboutText .about-header {
		text-align: left;
	}
	.aboutText img {
		width: 100%;
		height: 100%;
		margin-bottom: 1rem;
	}
	ol {
		padding: 0;
	}
	.contact-form form input,
	form textarea {
		width: 95%;
	}
	.infoSection {
		padding: 0 0.5rem;
	}
	.infoCards {
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}
	.infoCards h3 {
		/* font-size: 1.2rem; */
		padding-left: 1rem;
	}
	.infoCards p {
		padding-left: 1rem;
	}
	.infoCards i {
		font-size: 8rem;
		top: -40px;
		right: -40px;
	}

	.cardContent {
		text-align: left;
		top: 5rem;
		padding: 0;
	}
}

@media (max-width: 450px) {
	.infoSection {
		padding: 1rem 0;
	}

	.footer .footerLinks a {
		margin: 0.8em;
	}
	#copyright {
		font-size: 0.7rem;
		opacity: 0.8;
	}
}
